<%= form_with(model: order, class: "contents", data: { controller: 'payment-type-fields' }) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul class="list-disc ml-6">
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, required: true, class: "input-field" %>
  </div>

  <div class="my-5">
    <%= form.label :address %>
    <%= form.textarea :address, required: true, rows: 4, class: "input-field" %>
  </div>

  <div class="my-5">
    <%= form.label :email %>
    <%= form.email_field :email, required: true, class: "input-field" %>
  </div>

  <div class="my-5">
    <%= form.label :pay_type %>
    <%= form.select :pay_type, Order::PAY_TYPE_NAMES.invert,
                    { prompt: "Select a payment method" },
                    required: true,
                    class: "input-field",
                    data: { action: "payment-type-fields#update" } %>
  </div>

  <%# Check %>
  <fieldset
    hidden
    data-payment-type-fields-target="fieldset"
    data-payment-type="check"
  >
    <div class="mb-5">
      <%= form.label :routing_number %>
      <%= form.text_field :routing_number, class: "input-field" %>
    </div>
    <div class="my-5">
      <%= form.label :account_number %>
      <%= form.text_field :account_number, class: "input-field" %>
    </div>
  </fieldset>

  <%# Credit card %>
  <fieldset
    hidden
    data-payment-type-fields-target="fieldset"
    data-payment-type="credit_card"
  >
    <div class="mb-5">
      <%= form.label :credit_card_number %>
      <%= form.text_field :credit_card_number, class: "input-field" %>
    </div>
    <div class="my-5">
      <%= form.label :expiration_date %>
      <%= form.text_field :expiration_date, class: "input-field", placeholder: "e.g., 01/25" %>
    </div>
  </fieldset>

  <%# Purchase order %>
  <fieldset
    hidden
    data-payment-type-fields-target="fieldset"
    data-payment-type="purchase_order"
  >
    <div class="mb-5">
      <%= form.label :purchase_order %>
      <%= form.text_field :purchase_order, class: "input-field" %>
    </div>
  </fieldset>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
