<table id="<%= dom_id cart %>" class="w-full sm:w-auto my-5 space-y-5">
  <tr>
    <th>#</th>
    <th>Product</th>
    <th>Price</th>
    <th></th>
  </tr>
  <% cart.line_items.each_with_index do |line_item, li| %>
    <tr>
      <td class="py-1"><%= li + 1 %></td>
      <td class="px-4"><%= line_item.product.title %></td>
      <td><%= number_to_currency line_item.product.price %></td>
      <td><%= button_to "ðŸ—‘ï¸", line_item, method: :delete %></td>
    </tr>
  <% end %>
</table>

<% total_price = cart.line_items.map { _1.product.price }.reduce(:+) %>
<p class="mb-4"><span class="font-bold">Total:</span> <%= number_to_currency total_price %></p>
