<% content_for :title, "Showing cart" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl">Showing cart</h1>

  <% if @cart.empty? %>
    <p class="text-sm text-gray-700">Cart is empty</p>
  <% else %>
    <%= render @cart %>

    <%= button_to "Empty cart", @cart, method: :delete, form_class: "mt-2 sm:mt-0 sm:ml-2", class: "rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
    <%= link_to "Check out", new_order_path(cart_id: @cart), class: "inline-block rounded-md px-3.5 py-2.5 text-white bg-green-600 hover:bg-green-500 font-medium cursor-pointer" %>
  <% end %>

  <p><%= link_to "Back to store", store_index_path %></p>
</div>
