<tr>
  <td class="py-1"><%= line_item.quantity %></td>
  <td
    class="px-4 cursor-pointer"
    data-controller="fetch-content"
    data-fetch-content-url-value="<%= product_hovercard_path line_item.product %>"
    data-action="click->fetch-content#fetch"
  ><%= line_item.product.title %></td>
  <td><%= number_to_currency line_item.product.price %></td>
  <td><%= number_to_currency line_item.total_price %></td>
  <td><%= button_to "ðŸ—‘ï¸", line_item, method: :delete %></td>
</tr>